.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Important! Without this, sticky won't work */
    gap: 20px;
}

.sticky-container {
    position: sticky;
    top: 0;
    width: 320px;        /* Give it a fixed width */
    flex-shrink: 0;      /* Prevent it from shrinking */
    height: 100vh;       /* Optional: constrain height to viewport */
}

.button-container {
    float: right;
}

.sheet-container {
  display: grid;
  grid-template-columns: 0.25fr 0.55fr 1.25fr 0.8fr 0.8fr; /* Creates two equal-width columns */
  gap: 20px; /* Adds space between columns */
  min-height: 700px;
}

.box {
    border: 1px solid black;
    padding: 5px;
}

.currency-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    border: 1px solid black;
}


/*Saving Throws and Skills*/
.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
}

.skill-column-container {
    margin: 3px;
}

.bubble {
  height: 7px;
  width: 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


/*Ability Scores*/
.ability-container {
    width: 50px;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.ability {
    border: 1px solid black;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#ability1 {
    font-size: medium;
}

#ability2 {
    font-size: 30px;
}

#ability3 {
    font-size: medium;
}


/*Health and Attacks Column*/
.health-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.below-health-container {
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    text-align: center;
}

.movement-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

/*Spells*/
.outside-spell-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;
}

.spell-container {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    margin: 5px;
    border: 1px solid black;
    font-size: 11px;
}

.slot-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    text-align: center;
    border-bottom: 1px solid black;
}

#slot {
    border-right:1px solid black;
}

#slot:last-child {
    border: 0px;
}