.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Creates two equal-width columns */
  gap: 20px; /* Adds space between columns */
}

.button-container {
    float: right;
}

.sheet-container {
    width: 25%; /* Or any specific width/max-width */
    margin-right: 300px;
    margin-top: 30px;
}